alembic==1.15.1
fastapi==0.115.11
fastapi-cli==0.0.7
httpx==0.28.1
psycopg2-binary==2.9.10
pydantic==2.10.6
pydantic-settings==2.8.1
python-dotenv==1.0.1
SQLAlchemy==2.0.39
uvicorn==0.34.0
asyncpg==0.30.0
